# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
df = pd.read_csv("data/listings.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [7]:
# 1. How many listings are there with a price less than 100? 
condition1 = df['price'] < 100
df[condition1].shape[0]

22778

In [8]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
condition2 = df["neighbourhood_group"] == "Brooklyn"
df_bk = df[condition2]
df_bk.shape[0]

18632

In [9]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df[condition1 & condition2].shape[0]

10473

In [10]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
names = ["Michael","David","John","Daniel"]
condition3 = df["host_name"].isin(names)
df[condition3]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Entire home/apt,91,14,97,2018-01-31,0.83,1,44
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Entire home/apt,205,15,68,2019-12-14,0.67,2,89
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Entire home/apt,187,30,90,2020-07-31,0.81,1,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46362,44639591,Central & Stylish 1 Bedroom Apt - Heart of Che...,286136716,John,Manhattan,Chelsea,40.74568,-73.99694,Entire home/apt,110,30,0,NaN,NaN,3,110
46396,44661297,Flushing Sunshine home #101,361579037,Daniel,Queens,Flushing,40.74603,-73.82837,Private room,52,1,0,NaN,NaN,2,360
46403,44662157,Flushing Sunshine home #102,361579037,Daniel,Queens,Flushing,40.74441,-73.82829,Private room,55,1,3,2020-08-16,3.00,2,365
46455,44697211,Davidâ€™s Queen Sized Room,343477029,David,Queens,Far Rockaway,40.59460,-73.75875,Private room,95,1,0,NaN,NaN,1,365
46508,44797527,Long-Term: Furnished Apt in Nolita w/ Amenities,19448640,David,Manhattan,Nolita,40.72289,-73.99400,Entire home/apt,140,30,0,NaN,NaN,1,282

In [47]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
c4 = df['neighbourhood'] == 'Williamsburg'
df['adjusted_price'] = df['price']
#df['adjusted_price'] = df[c4]['price']+100
df[c4]['adjusted_price'] = df[c4]['adjusted_price'].apply(lambda x: x+100)
df

/var/folders/6s/c82zb9vs1xv8d6b1kgvgrb_w0000gn/T/ipykernel_3490/2116343388.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c4]['adjusted_price'] = df[c4]['adjusted_price'].apply(lambda x: x+100)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164,145
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85,87
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,59
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113,80
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50â€™ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,66

In [32]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
c5 = df['room_type'] == 'Private room'

c6 = df['room_type'] == 'Shared room'

print('Private Room %:', df[c5]['room_type'].value_counts().sum() / df['room_type'].value_counts().sum())
print('Shared Room %:', df[c6]['room_type'].value_counts().sum() / df['room_type'].value_counts().sum())

Private Room %: 0.45444580566122894
Shared Room %: 0.0212134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [57]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

grp = df.groupby('neighbourhood_group')
grp.describe()

                          id                                       \
                       count          mean           std      min
neighbourhood_group
Bronx                 1183.0  2.754286e+07  1.249018e+07  44096.0
Brooklyn             18632.0  2.180606e+07  1.344731e+07   3831.0
Manhattan            20580.0  2.277624e+07  1.405572e+07   2595.0
Queens                5791.0  2.659589e+07  1.290777e+07  12937.0
Staten Island          341.0  2.476462e+07  1.335093e+07  42882.0

                                                                       \
                             25%         50%          75%         max
neighbourhood_group
Bronx                18823747.50  29467179.0  38871100.50  44768081.0
Brooklyn              9765932.25  21289442.0  33931200.75  44818009.0
Manhattan             9976662.50  21880820.0  36047816.25  44814944.0
Queens               16394306.50  28314565.0  38524777.50  44804690.0
Staten Island        15178725.00  24573377.0  37419775.00  44574046.0

                     host_id                ... availability_365         \
                       count          mean  ...              75%    max
neighbourhood_group                         ...
Bronx                 1183.0  1.374028e+08  ...            342.0  365.0
Brooklyn             18632.0  6.899354e+07  ...            180.0  365.0
Manhattan            20580.0  8.427158e+07  ...            271.0  365.0
Queens                5791.0  1.212928e+08  ...            320.0  365.0
Staten Island          341.0  1.224312e+08  ...            349.0  365.0

                    adjusted_price                                             \
                             count        mean         std   min   25%    50%
neighbourhood_group
Bronx                       1183.0   92.751479   95.787081  16.0  50.0   69.0
Brooklyn                   18632.0  120.225258  180.136376   0.0  57.0   90.0
Manhattan                  20580.0  191.880466  428.682578   0.0  82.0  129.0
Queens                      5791.0   99.754965  207.648739   0.0  49.0   70.0
Staten Island                341.0  110.947214  122.676152  19.0  55.0   79.0


                       75%      max
neighbourhood_group
Bronx                100.0   1404.0
Brooklyn             141.0  10000.0
Manhattan            200.0  10000.0
Queens               109.0  10000.0
Staten Island        125.0   1200.0

[5 rows x 88 columns]

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups.

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

In [14]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [19]:
#  1. Who was won Album of the Year in 2016?

In [20]:
# 2. Who won Best Rap Album in 2009?

In [21]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?